<div class="tab">
	{{#searchfield}}
		<fieldset class="search">
			<legend>{{legend}}</legend>
			<form action="?tab=search" method="get" accept-charset="UTF-8" autocomplete="off">
				<ul>
					<li>
						<label>{{legend}}:</label>
						<input type="text" id="search" name="search" required />
						<input type="hidden" name="tab" value="search" />
						<input type="hidden" name="sort" value="author" />
						<input type="submit" value="{{button}}" />
					</li>
				</ul>
			</form>
		</fieldset>
		<br /><br /><br />
	{{/searchfield}}
	<div style="float: left;">Books: {{count}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Summe: {{sum}}</div>
	{{#TemplateSortfield}}
		{{>TemplateSortfield}}
	{{/TemplateSortfield}}
	<br /><br />
	{{#books}}
		{{#overview}}
			{{#TemplateBookOverview}}
				{{>TemplateBookOverview}}
			{{/TemplateBookOverview}}
		{{/overview}}
		{{^overview}}
			{{#TemplateBook}}
				{{>TemplateBook}}
			{{/TemplateBook}}
		{{/overview}}
	{{/books}}
</div>