<div class="tab">
	{{#amazon}}
		<fieldset class="amazon">
			<legend>Amazon</legend>
			<form action="?tab=add" method="get" accept-charset="UTF-8" autocomplete="off">
				<ul>
					<li>
						<label>Amazon:</label>
						<input type="text" id="amazon" name="amazon" required />
						<input type="hidden" name="tab" value="add" />
						<input type="submit" value="{{button}}" />
					</li>
				</ul>
			</form>
		</fieldset>
		<br /><br />
	{{/amazon}}
	{{#TemplateBookField}}
		{{>TemplateBookField}}
	{{/TemplateBookField}}
</div>