<a class="sort">{{sort}}<article>
	<table>
		{{#line}}
			<tr><td>{{#down}}<a href="{{href_down}}">&darr; {{link_title}}</a>{{/down}}{{^down}}&darr; {{link_title}}{{/down}}</td><td>{{#up}}<a href="{{href_up}}">&uarr; {{link_title}}</a>{{/up}}{{^up}}&uarr; {{link_title}}{{/up}}</td></tr>
		{{/line}}
	</table>
</article></a>