<fieldset class="bookIn" style="margin: 0 auto; {{#image}}width: 85em;{{/image}}{{^image}}width: 66em;{{/image}}">
	<legend> {{legend}} </legend>
	{{#image}}
		<img src="{{path}}" alt=" {{title}} " title=" {{title}} " style="max-height: 300px; max-width: 220px;" />
	{{/image}}
	<form action="?tab=search" method="post" accept-charset="UTF-8" autocomplete="off">
		<ul>
			{{#field}}
				<li>
					<label>{{label}}:</label>
					<input type="{{type}}" name="{{name}}" id="{{id}}" value="{{value}}" placeholder="{{label}} ..." {{#required}}required{{/required}} />
				</li>
			{{/field}}
			{{#button}}
				<li>
					<label></label>
					<button type="submit" name="submit">{{button}}</button>
					<input type="hidden" name="bookIn" value="{{bookin}}" />
				</li>
			{{/button}}
			{{#oldIsbn}}
				<input type="hidden" name="isbn_old" value="{{isbn}}" />
			{{/oldIsbn}}
		</ul>
	</form>
</fieldset>