<div id="main_content">
	<table style="margin: 5em auto 0;">
		{{#line}}
			<tr>
				<th> {{title}}:</th>
				<td style="text-align: right;"> {{count}} </td>
				<td style="text-align: right; padding-left: 2em;"> {{sum}} </td>
			</tr>
		{{/line}}
	</table>
</div>