<div class="tab">
	<table>
		{{#line}}
			<tr>
				<th> {{title}}:</th>
				<td style="text-align: right;"> {{count}} </td>
				<td style="text-align: right; padding-left: 2em;"> {{sum}} </td>
			</tr>
		{{/line}}
	</table>
</div>